<div class="landing-navigation hidden-xs hidden-sm" id="main_menu">
  <div class="container">
    <a id="top"></a>
    <div class="links pull-left">
      <div class="logo">
        <div class="header-logo">
          <a href="/">
            <img alt="Logo white" src="modules/core/client/img/brand/logo-white.png" width="130" height="30">
          </a>
        </div>
      </div>
      <a href="https://www.freelancer.com/u/wanghaofree720.html">Freelancer</a>
      <a href="https://www.upwork.com/freelancers/~01acfe85619aeda9d8">Upwork</a>
    </div>
    <div class="links pull-right">

      <ul class="nav navbar-nav navbar-right" ng-hide="vm.authentication.user">
        <li ui-sref-active="active">
          <a ui-sref="authentication.signup">Sign Up</a>
        </li>
        <li class="divider-vertical"></li>
        <li ui-sref-active="active">
          <a ui-sref="authentication.signin">Sign In</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-show="vm.authentication.user">
        <li class="dropdown" uib-dropdown>
          <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
            <img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="header-profile-image" />
            <span ng-bind="vm.authentication.user.displayName"></span> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
              <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="/api/auth/signout" target="_self">Signout</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="divider">
        |
      </div>
      <a class="enroll-btn btn" href="/enrollments/new?course_kind=web_dev">Enroll </a>
      <!--<a class="enroll-btn btn" href="https://www.upwork.com/freelancers/~01acfe85619aeda9d8">Enroll </a>-->

    </div>
    <div class="clear"></div>
  </div>
</div>


