  <div ng-include="'/modules/core/client/views/header.client.view.html'" ></div>
  <div ng-include="'/modules/core/client/views/navigation.view.html'" ></div>


<div class="course-page-main" id="HomeController">

  <!--course-hero-1-->
  <section class="course-hero page-section" style="background-image: url('')" id="course-hero">
    <div class="page-section-inner container">
      <div class="hero-text-content">
        <h1 style="padding-right: 200px;">Join the Scruby Crawling</h1>
        <div class="subtitle restrict-line-width">A professional, expert for crawling site with
          scrapy. Through 24X7, full-time.
        </div>
        <div class="components">
          <div class="component">Scrapy</div>
          <div class="separator">+</div>
          <div class="component">Ruby</div>
          <div class="separator">=</div>
          <div class="component">Scruby</div>
        </div>
      </div>
    </div>
  </section>


