<div ng-include="'/modules/core/client/views/header.client.view.html'"></div>


<div class='landing-navigation course-nav sub-navigation hidden-xs'>
  <div class='container'>
    <div class='pull-left links' id="sticky_header">
      <a du_scrollspy du_smooth_scroll href="#course-hero" offset="30">Crawling by scrapy</a>
      <a du_scrollspy du_smooth_scroll href="#home">Highlights</a>
      <a du_scrollspy du_smooth_scroll href="#learning" offset="100">Crawl at Scruby</a>
      <a du_scrollspy du_smooth_scroll href="#testimonials" offset="100">Testimonials</a>
      <a du_scrollspy du_smooth_scroll href="#faq" offset="100">FAQ</a>
    </div>
  </div>
  <div class='clear'></div>
</div>


<div class="course-page-main" id="HomeController">

  <!-- FAQ -->
  <section class="block faq" id="faq" style="background-color: white">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <h2 class="title-heading">
            <small>FAQ</small>
            These FAQ will answer your questions
          </h2>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">

          <uib-accordion close-others="true">
            <uib-accordion-group is-open="status.open" ng-repeat="group in vm.groups" ng-init="status.open = $first">
              <uib-accordion-heading>
                <i class="pull-right glyphicon"
                   ng-class="{'fa-angle-up fa': status.open, 'fa-angle-down fa': !status.open}"></i>
                {{group.title}}
              </uib-accordion-heading>
              <p ng-bind-html="group.content | sanitize"></p>
            </uib-accordion-group>
          </uib-accordion>

        </div>
      </div>
    </div>
  </section>

</div>











