  <div ng-include="'/modules/core/client/views/header.client.view.html'" ></div>
  <div ng-include="'/modules/core/client/views/navigation.view.html'" ></div>


<div class="course-page-main" id="HomeController">


  
  <!-- user/client testimonials -->
  <section class="block img-bg img3 testimonials" id="testimonials">
    <div class="container">
      <h2 class="title-heading text-center">
        <small>Testimonials</small>
        What our customers are saying
      </h2>
      <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 col-lg-offset-2 col-md-offset-1">
          <div class="owl-carousel" id="testimonial-carousel">
            <div class="single-quote">
              <img class="person" src="/modules/core/client/img/customers/1.jpg" width="80" height="80" alt="Mourad Al Ashry" pagespeed_url_hash="4032499552">
              <blockquote>
                <p>A breakthrough technology!! Scruby saved our startup by reducing the business time needed to
                  develop our App LocName.</p>
                <footer>Mourad Al Ashry
                  <cite title="Source Title">Locname</cite>
                </footer>
              </blockquote>
            </div>
            <div class="single-quote">
              <img class="person" src="/modules/core/client/img/customers/2.jpg" width="80" height="80" alt="Ahmed Abdel Fatah" pagespeed_url_hash="32032177">
              <blockquote>
                <p>We've used Scruby in multiple applications; The best benefits we got from using scruby are being able
                  to easily crawl the site we need with the customer and generating the excel files in
                  seconds.</p>
                <footer>Ahmed Abdel Fatah
                  <cite title="Source Title">Entlaqa</cite>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  






