<div class="row">
  <div class="container form_panel">

    <div class="row">
      <nav>
        <ul class="pager">
          <li class="previous"><a ui-sref="categories.list">Back</a></li>
          <li class="next"> <a ui-sref="categories.list">Show</a></li>
        </ul>
      </nav>
    </div>

    <div class="panel panel-info form-bs">
      <div class="panel-heading">
        <h4>{{vm.category._id ? 'Edit Category' : 'New Category'}}</h4>
      </div>
      <div class="panel-body" ng-include="'/modules/categories/client/views/_form.client.view.html'">
      </div>

    </div>

  </div>
</div>



