<section>
  <div class="page-header">
    <h1>Categories</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="crawler in vm.categories" ui-sref="categories.view({ crawlerId: crawler._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="crawler.created | date:'mediumDate'"></span>
        by
      </small>
      <h4 class="list-group-item-heading" ng-bind="crawler.title"></h4>
      <p class="list-group-item-text" ng-bind="crawler.description"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.categories.$resolved && !vm.categories.length">
    No categories yet, why don't you <a ui-sref="categories.create">create one</a>?
  </div>
</section>
