<div ng-include="'/modules/core/client/views/header.client.view.html'"></div>

<div class="row" id="showcases">
  <div class='container' id="crawling-panel" data-ctrl="itunes" data-ng-init="vm.getCategories()">

    <div class="row">
      <div class="row cases-export-panel" ng-include="'/modules/categories/client/views/list_search.client.view.html'"></div>
    </div>

    <div class="row">
      <div class="table-responsive" ng-include="'/modules/categories/client/views/list_table.client.view.html'"></div>
    </div>

    <div class="row text-center">
      <div class="pagination">
        <uib-pagination
          total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()"
          max-size="10">
        </uib-pagination>
      </div>
    </div>

  </div>

  <div class="row" id="desktop-footer" ng-include="'/modules/core/client/views/footer.client.view.html'"></div>

</div>
