<div class="col-md-8">
  <h1>Crawling <b>Apple itune apps</b></h1>

  <div class="pagination">
    <uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged(page.number)"
                    max-size="vm.totalItems" ng-show="true">
    </uib-pagination>
  </div>
</div>
<div class="col-md-4">

  <div class="crawl-info-form cif-box">
    <div class="cif-inner">
      <h2 id="crawledItemCount">{{vm.totalItems}}</h2>
      <p>Crawled Items</p>
    </div>
    <button id="export_Button" type="button" class="btn btn-success cif-button" data-loading-text="Exporting...">
      Export to Excel
    </button>
  </div>
</div>
