<section>
  <div class="page-header">
    <h1>Itunes</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="itune in vm.itunes" ui-sref="itunes.view({ ituneId: itune._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="itune.created | date:'mediumDate'"></span>
        by
        <span ng-if="itune.user" ng-bind="itune.user.displayName"></span>
        <span ng-if="!itune.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="itune.title"></h4>
      <p class="list-group-item-text" ng-bind="itune.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.itunes.$resolved && !vm.itunes.length">
    No itunes yet, why don't you <a ui-sref="itunes.create">create one</a>?
  </div>
</section>
