<table class="table table-bordered table-hover table-striped">
  <thead>
  <tr>
    <th>App</th>
    <th>Version</th>
    <th>Published</th>
    <th>Developer</th>
    <th>reviews</th>
    <th>reviewsCurrent</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="itune in vm.itunes">
    <td>
      <a href="{{itune.url}}">
        <img alt="Icon175x175" class="img-responsive" ng-src="{{itune.thumbnail}}" id="thumbnail">
      </a>
    </td>
    <td>{{itune.version}}</td>
    <td>{{itune.appLastUpdated}}</td>
    <td>
      <a href="{{itune.website}}">
        <span>{{itune.developer}}</span>
      </a>
    </td>
    <td>{{itune.ofReviews}}</td>
    <td>{{itune.ofReviewsCurrent}}</td>
  </tr>
  </tbody>
</table>
