.full-page-base-style {
  background-color: #333333;
}
.course-page {
  color: #4a4a4a;
  font-weight: 400;
}
.course-page * {
  box-sizing: border-box;
}
.course-page .course-page-main {
  margin: 0 auto;
  max-width: 1440px;
}
.course-page .course-page-container {
  margin: 0 auto;
  max-width: 1180px;
}
.course-page h1 {
  font-weight: 300;
  margin-top: 0;
}
.course-page h2 {
  font-weight: 300;
  margin-top: 0;
}
.course-page h3 {
  font-weight: 300;
  margin-bottom: 16px;
  margin-top: 0;
}
.course-page h4 {
  font-weight: 300;
  margin-top: 0;
}
.course-page h5 {
  font-weight: 300;
  margin-top: 0;
}
.course-page h6 {
  font-weight: 300;
  margin-top: 0;
}
.course-page p {
  margin-bottom: 32px;
}
.course-page .restrict-line-width {
  max-width: 504px;
}
.course-page .page-section-contrast {
  background: #e74c3c;
  color: white;
}
.course-page .page-section-contrast a {
  color: white;
  font-weight: 700;
}
.course-page .page-section-contrast .mini-headline {
  opacity: 0.4;
}
.course-page .course-page-section-header .section-mini-title {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 0;
}
.course-page .course-page-section-header .section-description {
  max-width: 585px;
}
.course-page .page-section-headline {
  font-size: 24px;
  margin-bottom: 50px;
  text-align: center;
}
.course-page .hero-infosession-variant {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 100%;
}
.course-page .hero-infosession-variant::after {
  clear: both;
  content: " ";
  display: block;
}
.course-page .hero-infosession-variant h1 {
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 24px;
  text-align: left;
}
.course-page .hero-infosession-variant .subtitle {
  font-size: 24px;
  margin-bottom: 5px;
}
.course-page .hero-infosession-variant .subtitle2 {
  font-size: 16px;
  max-width: 450px;
}
.course-page .hero-infosession-variant .hero-text-content {
  margin-bottom: 32px;
}
.course-page .page-section {
  padding: 32px;
}
.course-page .page-section > *:last-child {
  margin-bottom: 0;
}
.course-page .page-section .post-separator-box > *:first-child {
  margin-top: 145px;
}
.course-page .page-section-inner {
  margin: 0 auto;
  max-width: 1160px;
}
.course-page .course-hero {
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  align-items: stretch;
  background-position: 67% center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  padding-bottom: 40px;
  padding-top: 40px;
}
.course-page .course-hero .page-section-inner {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.course-page .course-hero .hero-text-content {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  color: white;
}
.course-page .course-hero .hero-text-content a {
  color: white;
  font-weight: 700;
}
.course-page .course-hero .hero-text-content .mini-headline {
  opacity: 0.4;
}
.course-page .course-hero h1 {
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  margin-bottom: 20px;
}
.course-page .course-hero .price {
  font-size: 36px;
  margin-bottom: 20px;
}
.course-page .course-hero .subtitle {
  font-size: 24px;
  margin-bottom: 0;
}
.course-page .course-hero .components {
  display: none;
}
.course-page .course-hero .hero-components .component {
  border: solid 1px #ffffff;
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  padding: 10px 24px;
  text-align: center;
  vertical-align: middle;
}
.course-page .course-hero .hero-components .separator {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
}
.course-page .learning-at-bloc-feature .mentor-points li {
  margin-bottom: 5px;
}
.course-page .mentor-quote {
  padding: 48px;
}
.course-page .mentor-quote .page-section-inner {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.course-page .mentor-quote .quote-body {
  font-size: 24px;
  font-weight: 300;
}
.course-page .mentor-quote .quote-body blockquote {
  margin-left: 0;
}
.course-page .mentor-quote .quote-body blockquote:before {
  color: #c72f00;
  left: -0.2em;
  opacity: 1;
  top: -0.6em;
}
.course-page .mentor-quote .quote-attribution-mobile {
  font-size: 18px;
  margin-top: 20px;
}
.course-page .mentor-quote .quote-attribution-mobile .quote-attribution-avatar {
  border-radius: 50%;
  float: left;
  height: 64px;
  margin-right: 30px;
  overflow: hidden;
  width: 64px;
}
.course-page .mentor-quote .quote-attribution-mobile .quote-attribution-avatar img {
  max-width: 64px;
}
.course-page .mentor-quote .quote-attribution-mobile .quote-attribution-text {
  overflow: hidden;
}
.course-page .mentor-quote .quote-attribution-mobile .quote-attribution-name {
  font-weight: bold;
}
.course-page .mentor-quote .quote-attribution-desktop {
  display: none;
  font-size: 16px;
  font-weight: bold;
}
.course-page .mentor-quote .mentor-image-desktop {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  display: none;
  position: relative;
}
.course-page .mentor-quote .image-label {
  position: absolute;
  bottom: 15px;
  width: 100%;
  right: -230px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  width: 200px;
}
.course-page .mentorship-overview {
  color: white;
}
.course-page .mentorship-overview h2 {
  font-size: 24px;
}
.course-page .mentorship-overview ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.course-page .mentorship-overview ul li {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  clear: left;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 16px;
}
.course-page .mentorship-overview ul .point {
  font-size: 16px;
  font-weight: 900;
}
.course-page .mentorship-overview ul .num {
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  border-radius: 50%;
  border: solid 1px #ffffff;
  flex-shrink: 0;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  margin-right: 24px;
  text-align: center;
  width: 35px;
}
.course-page .mentor-companies {
  background-color: #ffffff;
  padding-bottom: 32px;
}
.course-page .mentor-companies h2 {
  color: #4d4d4d;
  margin: 0;
  text-align: center;
}
.course-page .mentor-companies .mentor-logos {
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.course-page .mentor-companies .mentor-logos img {
  display: inline-block;
  height: 72px;
  margin: 30px;
  width: 128px;
}
.course-page .synergy .synergy-details {
  margin: 0 auto;
  max-width: 640px;
}
.course-page .synergy .synergy-image {
  max-height: 120px;
}
.course-page .phase-timeline {
  background: white;
}
.course-page .phase-timeline .phase {
  background: white;
  position: relative;
  text-align: center;
}
.course-page .phase-timeline .phase:nth-child(even) {
  background: #f2f2f2;
}
.course-page .phase-timeline .phase:nth-child(even) .phase-line {
  background: white;
}
.course-page .phase-timeline .phase:nth-child(even) .phase-substep-heading .phase-ball {
  background: white;
}
.course-page .phase-timeline .phase:nth-child(even) .projects-collage .phase-line {
  background: -webkit-linear-gradient(top, #f2f2f2 50%, #ffffff);
  background: linear-gradient(to bottom, #f2f2f2 50%, #ffffff);
}
.course-page .phase-timeline .phase:last-child .phase-num-group .phase-line {
  visibility: hidden;
}
.course-page .phase-timeline .phase p:last-child {
  margin-bottom: 0;
}
.course-page .phase-timeline .phase-num {
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  background: #d8d8d8;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 36px;
  height: 64px;
  left: 50%;
  line-height: 64px;
  position: absolute;
  text-align: center;
  top: -32px;
  transform: translateX(-50%);
  width: 64px;
  z-index: 10;
}
.course-page .phase-timeline .phase-num::before {
  -ms-transform: scale(0.01);
  -webkit-transform: scale(0.01);
  -webkit-transition-duration: 250ms;
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 2);
  background: #e74c3c;
  border-radius: 50%;
  content: " ";
  height: 64px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.01);
  transition-duration: 250ms;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 2);
  width: 64px;
}
.course-page .phase-timeline .phase-num .phase-num-inner {
  position: relative;
  z-index: 2;
}
.course-page .phase-timeline .phase-heading {
  font-weight: bold;
}
.course-page .phase-timeline .phase-heading .phase-name {
  font-weight: 300;
}
.course-page .phase-timeline .phase-heading.is-active {
  color: #e74c3c;
}
.course-page .phase-timeline .phase-heading.is-active .phase-num::before {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
  transform: scale(1);
}
.course-page .phase-timeline .phase-substep-heading {
  position: relative;
}
.course-page .phase-timeline .phase-substep-heading .phase-ball {
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  background: #d8d8d8;
  border-radius: 10px;
  height: 16px;
  left: 50%;
  margin-top: 0;
  position: absolute;
  top: -20px;
  transform: translateX(-50%);
  width: 16px;
}
.course-page .phase-timeline .phase-substep-heading .phase-ball::before {
  -ms-transform: scale(0.01);
  -webkit-transform: scale(0.01);
  -webkit-transition-duration: 250ms;
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 2);
  background: #e74c3c;
  border-radius: 10px;
  content: " ";
  height: 16px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.01);
  transition-duration: 250ms;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 2);
  width: 16px;
}
.course-page .phase-timeline .is-active .phase-substep-heading {
  color: #e74c3c;
}
.course-page .phase-timeline .is-active .phase-substep-heading .phase-ball::before {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
  transform: scale(1);
}
.course-page .phase-timeline .phase-line {
  background: #f2f2f2;
  height: 50px;
  margin: 15px auto;
  position: relative;
  width: 6px;
}
.course-page .phase-timeline .phase-line:last-child {
  margin-bottom: 0;
}
.course-page .phase-timeline .meet-mentor .meet-mentor-heading {
  font-size: 24px;
  width: 100%;
}
.course-page .phase-timeline .syllabus-section .syllabus-section-heading {
  font-size: 36px;
}
.course-page .phase-timeline .foundation .foundation-roadmap-screenshot {
  margin-bottom: -120px;
  position: relative;
}
.course-page .phase-timeline .foundation .foundation-roadmap-screenshot img {
  display: block;
  position: relative;
  z-index: 10;
}
.course-page .phase-timeline .foundation .foundation-part {
  margin: 0 auto;
  max-width: 80%;
}
.press-articles-container {
  background: #e6e6e6;
  overflow: hidden;
  padding: 1.25rem 1.25rem 0.6rem;
  text-align: center;
}
.press-articles-container .press-articles {
  -ms-flex-pack: distribute;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  display: table;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.press-articles-container .press-link {
  display: table-cell;
  padding: 10px;
  vertical-align: middle;
}
.press-articles-container .press-link img {
  max-width: 100%;
}
.home {
  background-size: cover;
  background: url(/modules/core/client/img/bg/bg1.jpg) top center no-repeat;
  padding: 80px 0 0;
  position: relative;
}
.home:after {
  background: rgba(0, 0, 0, 0.6);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.home .logo-lg {
  display: block;
  height: 44px;
  margin: 0 auto 50px;
  position: relative;
  width: 121px;
  z-index: 1;
}
.home h1 {
  color: #ffffff;
  padding-top: 20px;
  position: relative;
  text-align: center;
  z-index: 1;
}
.home p.strong {
  color: rgba(255, 255, 255, 0.35);
  font-size: 18px;
  position: relative;
  text-align: center;
  z-index: 1;
}
.home .cta-wrap {
  display: table;
  margin: 40px auto;
  position: relative;
  text-align: center;
  z-index: 1;
}
.home .btn-link {
  color: #ffffff;
}
.home .cta.variant-two {
  margin: 30px auto 10px;
  position: relative;
  z-index: 2;
}
.home.animated-bg {
  animation: bgAnimate 15s linear infinite;
  background: url(../assets/pattern1.jpg) repeat #111111;
}
.home.animated-bg:after {
  display: none;
}
.home .cta-wrap,
.cta .cta-wrap {
  margin: 40px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  display: table;
}
.try-it-wrap {
  display: table-cell;
  vertical-align: middle;
}
.try-it-wrap small {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  font-size: 10px;
  font-weight: 400;
}
.big-feature {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}
#big-video-wrap {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.cta.variant-two .success {
  color: #ffffff;
  display: block;
  text-align: center;
}
.cta.variant-two .success i {
  color: #6bbb36;
  display: block;
  font-size: 60px;
  margin: 30px auto;
}
.cta.variant-two .success .lead {
  display: block;
  font-weight: 400;
  margin-bottom: 20px;
}
.quote-box {
  margin: 0 0 32px 24px;
  padding: 0;
  position: relative;
}
.quote-box::before {
  color: black;
  content: "“";
  display: block;
  font-family: "Arial Black", "Helvetica", sans-serif;
  font-size: 500%;
  font-weight: bold;
  left: -0.35em;
  opacity: 0.1;
  position: absolute;
  top: -0.5em;
}
.quote-box .quote-box-body {
  position: relative;
}
.quote-box-white {
  color: white;
}
.quote-box-white::before {
  color: white;
}
@media (max-width: 767px) {
  .course-page {
    position: relative;
    top: 65px;
  }
}
@media (max-width: 992px) {
  .course-page .hide-on-mobile {
    display: none;
  }
}
@media (min-width: 992px) {
  .course-page .course-page-section-header {
    margin-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .course-page .page-section-headline {
    font-size: 36px;
  }
}
@media (min-width: 768px) {
  .course-page .hero-infosession-variant {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .course-page .hero-infosession-variant h1 {
    line-height: 1.2;
  }
  .course-page .hero-infosession-variant .subtitle {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .course-page .hero-infosession-variant .subtitle2 {
    font-size: 16px;
    max-width: 450px;
    font-weight: 400;
  }
  .course-page .hero-infosession-variant .hero-text-content {
    width: 60%;
    padding-right: 30px;
  }
  .course-page .hero-infosession-variant .hero-form-content {
    padding-top: 50px;
    width: 40%;
  }
}
.course-page.web_dev_track .course-hero {
  background-position: 5% center;
}
.course-page.course-theme-red .course-hero {
  background-color: #e74c3c;
}
.course-page.course-theme-blue .course-hero {
  background-color: #22a5d3;
}
@media (max-width: 992px) and (min-width: 768px) {
  .course-page .hero-infosession-variant .hero-text-content {
    width: 50%;
  }
  .course-page .hero-infosession-variant .hero-form-content {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .course-page .course-hero {
    padding: 40px 16px;
  }
}
@media (min-width: 992px) {
  .course-page .course-hero h1 {
    line-height: 107px;
    margin-bottom: 36px;
    font-size: 5.1rem;
  }
  .course-page .course-hero .price {
    font-size: 36px;
    margin-bottom: 24px;
  }
  .course-page .course-hero .subtitle {
    margin-bottom: 32px;
  }
  .course-page .course-hero .components {
    display: block;
  }
  .course-page .course-hero .components .component {
    border: solid 1px #fff;
    text-align: center;
    padding: 10px 32px;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  .course-page .course-hero .components .separator {
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}
@media (max-width: 768px) {
  .course-page .course-hero .hero-components {
    display: none;
  }
}
@media (min-width: 1200px) {
  .course-page .course-hero .hero-components {
    display: block;
    margin-top: 24px;
  }
}
@media (min-width: 992px) {
  .course-page .page-section {
    padding: 72px;
  }
}
@media (max-width: 768px) {
  .course-page .page-section.post-separator-box > *:first-child {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .course-page .page-section-inner {
    padding: 0;
  }
}
@media (max-width: 992px) {
  .course-page .phase-timeline .phase.page-section {
    padding-top: 48px;
  }
  .course-page .phase-timeline .phase h1 {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .course-page .mentor-quote {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0;
  }
  .course-page .mentor-quote .quote-body {
    z-index: 10;
    position: relative;
    max-width: 50%;
    padding-bottom: 30px;
    padding-left: 30px;
    font-size: 36px;
  }
  .course-page .mentor-quote .quote-body blockquote {
    margin-left: 0;
    position: relative;
  }
  .course-page .mentor-quote .quote-body blockquote::before {
    font-size: 160px;
    top: -20px;
    left: -20px;
    line-height: 1;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .course-page .mentor-quote .quote-attribution-mobile {
    display: none;
  }
  .course-page .mentor-quote .quote-attribution-desktop {
    display: block;
  }
}
@media (max-width: 1199px) {
  .course-page .mentor-companies {
    padding: 72px 64px;
  }
  .course-page .mentor-companies .mentor-logos {
    height: 524px;
    overflow: hidden;
    padding: 56px 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .course-page .mentor-companies .mentor-logos img {
    margin: 28px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .course-page .mentor-companies {
    padding: 56px 48px;
  }
}
@media (max-width: 768px) {
  .course-page .mentor-companies {
    padding: 48px 32px;
  }
  .course-page .mentor-companies .mentor-logos {
    height: 344px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 56px;
    overflow: hidden;
    padding: 0;
  }
  .course-page .mentor-companies .mentor-logos img {
    height: 54px;
    width: 96px;
    margin: 20px;
  }
}
@media (min-width: 768px) {
  .course-page .synergy .synergy-header {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .course-page .mentor-quote .mentor-image-desktop {
    display: block;
    max-width: 50%;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .course-page .mentor-quote .mentor-image-desktop img {
    display: block;
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-right: 180px;
    margin-bottom: 40px;
  }
}
@media (max-width: 992px) {
  .mentor-image-desktop .hide-on-mobile {
    display: none;
  }
}
.course-page.short_version .mentor-quote .quote-box::before {
  font-size: 106px;
}
.course-page.short_version .mentor-quote .quote-box .quote-box-body {
  font-size: 24px;
}
.course-page .product-video .video-overlay-content .quote-box {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}
.course-page .product-video .video-overlay-content .quote-box::before {
  opacity: 1;
  font-size: 50px;
  left: -35px;
  top: -20px;
}
@media (min-width: 992px) {
  .course-page .product-video .video-overlay-content {
    padding-left: 90px;
    font-size: 36px;
  }
  .course-page .product-video .video-overlay-content .attribution {
    font-size: 24px;
  }
  .course-page .product-video .video-overlay-content .play-control {
    font-size: 24px;
  }
  .course-page .product-video .video-overlay-content .quote-box::before {
    font-size: 80px;
    left: -50px;
    top: -30px;
  }
}
.course-nav {
  overflow: hidden;
}
.landing-navigation {
  background: #333333;
  box-shadow: none;
  color: #ffffff;
  padding: 14px 0;
  width: 100%;
  z-index: 1000;
}
.landing-navigation * {
  box-sizing: border-box;
}
.landing-navigation .container {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  overflow: visible;
}
.landing-navigation .container-fluid {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  overflow: visible;
}
.landing-navigation a {
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
.landing-navigation img {
  display: block;
  margin-top: 4px;
  padding-left: 2.5%;
  width: 100%;
  width: inherit;
}
.landing-navigation .logo {
  margin-right: 16px;
  position: relative;
}
.landing-navigation .pull-left {
  -ms-flex-align: center;
  -ms-flex-pack: start;
  -ms-flex-positive: 1;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-flex: 1;
  -webkit-box-pack: start;
  -webkit-flex-grow: 1;
  -webkit-justify-content: flex-start;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}
.landing-navigation .pull-right {
  -ms-flex-align: center;
  -ms-flex-pack: end;
  -ms-flex-positive: 1;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-flex: 1;
  -webkit-box-pack: end;
  -webkit-flex-grow: 1;
  -webkit-justify-content: flex-end;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.landing-navigation .links > * {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-left: 40px;
  position: relative;
}
.landing-navigation .links > *:hover {
  color: white;
  text-decoration: none;
}
.landing-navigation .links > *:first-child {
  margin-left: 0;
}
.landing-navigation .links > *.is-active {
  color: white;
  text-decoration: none;
}
.landing-navigation .links > *.is-active::after {
  opacity: 1;
}
.landing-navigation .links > *.active {
  color: white;
  text-decoration: none;
}
.landing-navigation .links > *.active::after {
  opacity: 1;
}
.landing-navigation .links > *:hover::after {
  opacity: 1;
}
.landing-navigation .links.nav-title a:first-child {
  margin-left: 0;
}
.landing-navigation .links a::after {
  -webkit-transition: opacity 300ms;
  background: #f15a24;
  bottom: -3px;
  content: " ";
  display: block;
  height: 3px;
  opacity: 0;
  position: absolute;
  transition: opacity 300ms;
  width: 100%;
}
.landing-navigation .links .divider {
  color: #7a7a7a;
  margin-left: 0.5rem;
}
.landing-navigation a.enroll-btn {
  border-radius: 3px;
  margin-left: 16px;
  text-align: center;
}
.landing-navigation a.enroll-btn::after {
  height: 0;
}
.landing-navigation .fake-search {
  padding-left: 20px;
  position: relative;
}
.landing-navigation .fake-search:before {
  color: #666666;
  content: "";
  font-family: "FontAwesome";
  margin-top: -5px;
  position: absolute;
  right: 5px;
  top: 50%;
}
.landing-navigation .fake-search input {
  background: #404040;
  border: none;
  color: white;
}
.landing-navigation .fake-search input::-moz-placeholder {
  color: #666666;
  opacity: 1;
}
.landing-navigation .fake-search input:-ms-input-placeholder {
  color: #666666;
}
.landing-navigation .fake-search input::-webkit-input-placeholder {
  color: #666666;
}
.sub-navigation {
  background: #4d4d4d;
  color: #999999;
  min-height: 60px;
  padding: 0;
  width: 100%;
}
.sub-navigation .nav-title {
  display: none;
  font-weight: 700;
  height: 30px;
  margin-top: 15px;
}
.sub-navigation .links {
  margin-top: 15px;
}
.sub-navigation .links a {
  color: #999999;
  font-size: 14px;
  line-height: 30px;
  margin-left: 25px;
  white-space: nowrap;
}
.sub-navigation .links a::after {
  bottom: 0 !important;
}
@media (min-width: 992px) {
  .sub-navigation .nav-title {
    display: block;
  }
}
@media (min-width: 992px) {
  .sub-navigation .links a {
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .sub-navigation #email_capt_form {
    display: none;
  }
}
.btn {
  font-weight: 700;
  background-color: #f15a24;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  display: inline-block;
  border: none;
  cursor: pointer;
  padding: 11px 23px;
}
.btn.hover,
.btn:hover {
  color: #fff;
  background-color: #bc3b0c;
}
.btn.active,
.btn:active {
  background: #c63d0d;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn:focus {
  outline: none;
}
.btn-mini {
  min-width: 50px;
  border-radius: 3px;
  font-size: 12px;
  padding: 10px 15px;
}
.btn-medium {
  border-radius: 3px;
  font-size: 14px;
  padding: 10px 15px;
}
.btn-nav {
  border-radius: 3px;
  font-size: 12px;
  padding: 12px;
}
.btn-full {
  box-sizing: border-box;
  display: block;
  text-align: center;
  width: 100%;
}
.btn-lower {
  text-transform: none;
}
.btn-purple {
  background-color: #705ca0;
}
.btn-purple.hover,
.btn-purple:hover {
  color: #fff;
  background-color: #483682;
}
.btn-purple.active,
.btn-purple:active {
  background: #4c3989;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn-teal {
  background-color: #00adad;
}
.btn-teal.hover,
.btn-teal:hover {
  color: #fff;
  background-color: #0b666b;
}
.btn-teal.active,
.btn-teal:active {
  background: #0c6f74;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn-gray {
  background-color: #cccccc;
}
.btn-gray.hover,
.btn-gray:hover {
  color: #fff;
  background-color: #a6a6a6;
}
.btn-gray.active,
.btn-gray:active {
  background: #ababab;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn-blue {
  background-color: #22a5d3;
}
.btn-blue.hover,
.btn-blue:hover {
  color: #fff;
  background-color: #0071bc;
}
.btn-blue.active,
.btn-blue:active {
  background: #0077c6;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn-red {
  background-color: #e74c3c;
}
.btn-red.hover,
.btn-red:hover {
  color: #fff;
  background-color: #a82315;
}
.btn-red.active,
.btn-red:active {
  background: #b12516;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn-facebook-blue {
  background-color: #3b5998;
}
.btn-facebook-blue.hover,
.btn-facebook-blue:hover {
  color: #fff;
  background-color: #1e2e4f;
}
.btn-facebook-blue.active,
.btn-facebook-blue:active {
  background: #213256;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn-light-teal {
  background-color: #7dc2b1;
}
.btn-light-teal.hover,
.btn-light-teal:hover {
  color: #fff;
  background-color: #00adad;
}
.btn-light-teal.active,
.btn-light-teal:active {
  background: #00b7b7;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn-yellow {
  background-color: #fcb517;
}
.btn-yellow.hover,
.btn-yellow:hover {
  color: #fff;
  background-color: #e58800;
}
.btn-yellow.active,
.btn-yellow:active {
  background: #ef8e00;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn-dark-gray {
  color: gray;
  background-color: #4d4d4d;
}
.btn-dark-gray.hover,
.btn-dark-gray:hover {
  color: #fff;
  background-color: #666666;
}
.btn-dark-gray.active,
.btn-dark-gray:active {
  background: #6b6b6b;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn-orange-border {
  background-color: #fff;
  border: 2px solid #f15a24;
  color: #f15a24;
}
.btn-orange-border.hover,
.btn-orange-border:hover {
  background-color: #f15a24;
  color: #ffffff;
}
.btn-orange-border.active,
.btn-orange-border:active {
  background: #ff931e;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn-red-border {
  background-color: #fff;
  border: 2px solid #e74c3c;
  color: #e74c3c;
}
.btn-red-border.hover,
.btn-red-border:hover {
  background-color: #e74c3c;
  color: #ffffff;
}
.btn-red-border.active,
.btn-red-border:active {
  background: #a82315;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn-purple-border {
  background-color: #fff;
  border: 2px solid #705ca0;
  color: #705ca0;
}
.btn-purple-border.hover,
.btn-purple-border:hover {
  background-color: #705ca0;
  color: #ffffff;
}
.btn-purple-border.active,
.btn-purple-border:active {
  background: #483682;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn-teal-border {
  background-color: #fff;
  border: 2px solid #00adad;
  color: #00adad;
}
.btn-teal-border.hover,
.btn-teal-border:hover {
  background-color: #00adad;
  color: #ffffff;
}
.btn-teal-border.active,
.btn-teal-border:active {
  background: #0b666b;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn-gray-border {
  background-color: #fff;
  border: 2px solid #cccccc;
  color: #cccccc;
}
.btn-gray-border.hover,
.btn-gray-border:hover {
  background-color: #cccccc;
  color: #ffffff;
}
.btn-gray-border.active,
.btn-gray-border:active {
  background: #a6a6a6;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn-blue-border {
  background-color: #fff;
  border: 2px solid #22a5d3;
  color: #22a5d3;
}
.btn-blue-border.hover,
.btn-blue-border:hover {
  background-color: #22a5d3;
  color: #ffffff;
}
.btn-blue-border.active,
.btn-blue-border:active {
  background: #0071bc;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn-facebook-blue-border {
  background-color: #fff;
  border: 2px solid #3b5998;
  color: #3b5998;
}
.btn-facebook-blue-border.hover,
.btn-facebook-blue-border:hover {
  background-color: #3b5998;
  color: #ffffff;
}
.btn-facebook-blue-border.active,
.btn-facebook-blue-border:active {
  background: #1e2e4f;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn-light-teal-border {
  background-color: #fff;
  border: 2px solid #7dc2b1;
  color: #7dc2b1;
}
.btn-light-teal-border.hover,
.btn-light-teal-border:hover {
  background-color: #7dc2b1;
  color: #ffffff;
}
.btn-light-teal-border.active,
.btn-light-teal-border:active {
  background: #00adad;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn-yellow-border {
  background-color: #fff;
  border: 2px solid #fcb517;
  color: #fcb517;
}
.btn-yellow-border.hover,
.btn-yellow-border:hover {
  background-color: #fcb517;
  color: #ffffff;
}
.btn-yellow-border.active,
.btn-yellow-border:active {
  background: #e58800;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn.disabled,
.btn[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
}
.btn-group {
  background: #aaa;
  border-radius: 8px;
  color: white;
  display: inline-block;
  overflow: hidden;
}
.btn-group a {
  color: #ddd;
  display: inline-block;
  font-size: 12px;
  padding: 5px 8px;
}
.btn-group a.off {
  background: #e74c3c;
  color: white;
}
.btn-group a.on {
  background: #00adad;
  color: white;
}
.btn-group.on {
  background: #00adad;
}
.btn-group.on_inactive:hover {
  background: #0b666b;
}
.btn-group.off {
  background: #e74c3c;
}
.btn-filter {
  background: white;
  border: #f15a24;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: #4d4d4d;
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  padding: 6px 12px;
  margin-bottom: 4px;
}
.btn-filter.selected {
  background: #f15a24;
  color: white;
}
@media (min-width: 480px) {
  .btn {
    padding: 11px 30px;
  }
}
@media (min-width: 480px) {
  .btn-mini {
    min-width: 80px;
    text-align: center;
  }
}
/* testimonials */
.testimonials .person {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin: 40px auto 0;
}
#testimonial-carousel {
  margin-top: -40px;
}
.star-rating {
  text-align: center;
}
.testimonials .star-rating {
  margin: 20px auto;
}
.star-rating .rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .rating li {
  float: left;
  margin: 0 2px;
  list-style: none;
  font-size: 24px;
}
.star-rating .rating li .fa-star,
.star-rating .rating li .fa-star-half-empty,
.star-rating .rating li .fa-star-o {
  color: #dfa018;
}
.star-rating small {
  display: block;
  margin-top: -10px;
}
.img-bg .star-rating small,
.img-bg.testimonials blockquote footer {
  color: #e1e1e1;
  text-align: center;
}
.testimonials blockquote {
  border: none;
}
.testimonials blockquote p {
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  color: #f6f6f6;
  text-align: center;
}
.block.img-bg.img3 {
  background-image: url(/modules/core/client/img/bg/bg3.jpg);
}
.block.img-bg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.title-heading {
  margin: 0 auto 60px;
}
.title-heading small {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  color: #de2525;
  display: block;
}
.img-bg .title-heading {
  color: #fff;
  z-index: 1;
  position: relative;
}
.img-bg * {
  z-index: 1;
}
.block.img-bg,
.block.img-bg.img1 {
  background: url(/modules/core/client/img/bg/bg1.jpg) center center no-repeat;
  background-size: cover;
}
.block {
  padding: 80px 0;
  position: relative;
}
.block.white-bg {
  background: #fff;
}
.block.gray-bg {
  background: #ececec;
}
/* faq */
.panel-group .panel,
.collapse {
  box-shadow: none;
  border-radius: 0;
  border: none;
}
.panel-group .panel {
  margin-bottom: 20px;
}
.panel-title {
  position: relative;
  z-index: 1;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: none;
  box-shadow: 0 -2px 0 #e0e0e0 inset;
  padding: 15px 20px;
  border-right: 2px solid #e0e0e0;
  border-left: 2px solid #e0e0e0;
}
.panel-default > .panel-heading {
  background-color: transparent;
  border-radius: 0;
  border: none !important;
  box-shadow: 0 0 0 2px #e0e0e0 inset;
  padding: 0;
  position: relative;
}
.panel-default > .panel-heading i {
  color: #de2525;
  font-size: 24px;
  height: 24px;
  left: 11px;
  line-height: 24px;
  position: absolute;
  top: 11px;
  width: 24px;
}
.panel-default > .panel-heading a {
  display: block;
  padding: 15px 20px 15px 40px;
}
.panel-default > .panel-heading a:hover {
  color: #111111;
  outline: none;
  text-decoration: none;
}
.panel-default > .panel-heading a:focus {
  color: #111111;
  outline: none;
  text-decoration: none;
}
#faq h2 {
  font-weight: 300;
  color: #111;
  font-size: 32px;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}
#faq a {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}
#faq span {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  padding-left: 4px;
}
#faq p {
  line-height: 1.33em;
  color: #7E7E7E;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}
#desktop-footer {
  /* footer */
}
#desktop-footer .footer {
  background: #333333;
  padding: 80px 0 40px;
}
#desktop-footer .footer a,
#desktop-footer .footer h2,
#desktop-footer .footer .h2,
#desktop-footer .footer h3,
#desktop-footer .footer .h3,
#desktop-footer .footer h4,
#desktop-footer .footer .h4 {
  color: #fff;
}
#desktop-footer .short-post .short-post-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  font-weight: 400;
  margin: 20px 0 5px;
  text-align: center;
}
#desktop-footer .short-post .post-meta {
  font-size: 12px;
  text-align: center;
}
#desktop-footer .short-post .post-meta:after {
  clear: both;
}
#desktop-footer .short-post .post-meta:after,
#desktop-footer .short-post .post-meta:before {
  display: table;
  content: '';
}
#desktop-footer .short-post .post-meta span {
  display: inline-block;
  margin: 0 10px;
}
#desktop-footer .thumb {
  position: relative;
  display: block;
  background: #111;
}
#desktop-footer .thumb:after {
  font-family: 'Pe-icon-7-stroke';
  content: '\e618';
  width: 40px;
  height: 40px;
  display: block;
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  opacity: 0;
  filter: alpha(opacity=0);
}
#desktop-footer .thumb img,
#desktop-footer .thumb:after {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#desktop-footer .thumb:hover:after {
  top: 50%;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#desktop-footer .thumb:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
#desktop-footer .footer hr {
  border-color: #2b2b2b;
}
#desktop-footer .footer .ft-hr {
  margin: 40px 0;
}
#desktop-footer .footer .ft-logo {
  display: block;
  float: left;
  padding: 0 30px 0 0;
  margin-right: 30px;
  border-right: 1px solid #2b2b2b;
}
#desktop-footer .footer .ft-social .social {
  text-align: right;
}
#desktop-footer .footer .ft-social .social ul li a .fa {
  font-size: 26px;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
}
#desktop-footer .footer .copyright:after {
  clear: both;
}
#desktop-footer .footer .copyright:after,
#desktop-footer .footer .copyright:before {
  display: table;
  content: '';
}
#desktop-footer .social ul li a,
#desktop-footer .team .social ul li a:hover,
#desktop-footer .team .social ul li a:focus {
  color: #fff;
  text-decoration: none;
}
#desktop-footer .social ul li a .fa {
  font-size: 18px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: #de2525;
  color: #fff;
}
#desktop-footer .social ul li a .fa-twitter {
  background: #29c5f6;
}
#desktop-footer .social ul li a .fa-linkedin {
  background: #036fba;
}
#desktop-footer .social ul li a .fa-facebook {
  background: #3b5999;
}
#desktop-footer .social ul li a .fa-google-plus {
  background: #db4836;
}
#desktop-footer .social ul li a .fa-pinterest {
  background: #d01d15;
}
#desktop-footer .footer hr {
  border-color: #2b2b2b;
}
#desktop-footer .footer .ft-hr {
  margin: 40px 0;
}
#desktop-footer .footer .ft-logo {
  display: block;
  float: left;
  padding: 0 30px 0 0;
  margin-right: 30px;
  border-right: 1px solid #7a7a7a;
}
#desktop-footer .footer .ft-social .social {
  text-align: right;
}
#desktop-footer .footer .ft-social .social ul li a .fa {
  font-size: 26px;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
}
#desktop-footer .footer .copyright:after {
  clear: both;
}
#desktop-footer .footer .copyright:after,
#desktop-footer .footer .copyright:before {
  display: table;
  content: '';
}
#desktop-footer .social {
  text-align: center;
}
#desktop-footer .social ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#desktop-footer .social ul:after {
  clear: both;
}
#desktop-footer .social ul:after,
#desktop-footer .social ul:before {
  display: table;
  content: '';
}
#desktop-footer .social ul li {
  display: block;
  float: left;
  list-style: none;
}
#desktop-footer .team .social {
  margin-top: 20px;
}
#showcases {
  background-color: #e4e4e4;
}
#showcases #crawling-panel {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
#showcases #app_panel {
  padding-top: 40px;
}
#showcases .table-description a {
  width: 100px;
  height: 400px;
}
#showcases .cases-export-panel {
  padding-top: 20px;
  padding-bottom: 50px;
}
#showcases .cif-box {
  background: white;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 30px 15px 0px;
  max-width: 536px;
  border: solid 1px #f15a24;
  border-radius: 4px;
}
#showcases .cif-box .cif-inner {
  max-width: 380px;
  margin: 0 auto;
}
#showcases .cif-box .cif-inner h2 {
  margin-top: 0;
  font-weight: 300;
  color: #4d4d4d;
  font-size: 74px;
}
#showcases .cif-box .cif-inner p {
  margin-bottom: 32px;
}
#showcases .cif-box .cif-button {
  left: 50%;
  position: absolute;
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#showcases #thumbnail {
  width: 120px;
  height: 120px;
}
